stages:
  - package
  - upload
package:
  stage: package
  image:
    name: alpine/helm:3.5.4
  before_script:
    - apk add git
    - PREVIOUS_TAG=$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1  --max-count=1`)
    - echo $PREVIOUS_TAG
    - CHARTS_CHANGED=$(git diff --name-only $CI_COMMIT_TAG $PREVIOUS_TAG charts | sed s:/:" ":g | awk '{print $2}')
    - echo $CHARTS_CHANGED
  script:
    - for CHART_CHANGED in $CHARTS_CHANGED; do helm package ${CI_PROJECT_DIR}/charts/$CHART_CHANGED --version ${CI_COMMIT_TAG}; done
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/*
    expire_in: 1 hrs
  only:
    refs:
      - tags

upload:
  stage: upload
  image:
    name: alpine:3.14
  before_script:
    - apk add git
    - apk add curl
    - PREVIOUS_TAG=$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1  --max-count=1`)
    - echo $PREVIOUS_TAG
    - CHARTS_CHANGED=$(git diff --name-only $CI_COMMIT_TAG $PREVIOUS_TAG charts | sed s:/:" ":g | awk '{print $2}')
    - echo $CHARTS_CHANGED
  script:
    - for CHART_CHANGED in $CHARTS_CHANGED; do curl --request POST --user gitlab-ci-token:$CI_JOB_TOKEN --form "chart=@${CI_PROJECT_DIR}/$CHART_CHANGED-${CI_COMMIT_TAG}.tgz" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"; done
  only:
    refs:
      - tags