stages:
  - package
  - upload
package:
  stage: package
  image:
    name: alpine/helm:3.1.1
  script:
    - "helm package ${CI_PROJECT_DIR}/charts/silent-deployment --version ${CI_COMMIT_TAG}"
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/silent-deployment-${CI_COMMIT_TAG}.tgz
    expire_in: 1 hrs
  only:
    refs:
      - tags
    changes:
      - charts/silent-deployment/*

upload:
  stage: upload
  image:
    name: curlimages/curl:latest
  script:
    - 'curl --request POST --user gitlab-ci-token:$CI_JOB_TOKEN --form "chart=@${CI_PROJECT_DIR}/silent-deployment-${CI_COMMIT_TAG}.tgz" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"'
  only:
    refs:
      - tags
    changes:
      - charts/silent-deployment/*